NET MISO		LOC = P01;
NET A(15)	LOC = P02;
NET A(14)	LOC = P03;
NET A(13)	LOC = P04;
NET IRQ		LOC = P05;
NET PHI2		LOC = P06;
NET RW		LOC = P07;
NET A(12)	LOC = P08;
NET A(11)	LOC = P09;
NET A(10)	LOC = P11;
NET A(9)		LOC = P12;
NET A(8)		LOC = P13;
NET A(7)		LOC = P14;
NET A(6)		LOC = P18;
NET A(5)		LOC = P19;
NET A(4)		LOC = P20;
NET PS2DAT	LOC = P22;
NET PS2CLK	LOC = P24;
NET CSSER	LOC = P25;
NET LATCH	LOC = P26;
NET D(0)		LOC = P27;
NET D(1)		LOC = P28;
NET D(2)		LOC = P29;
NET D(3)		LOC = P33;
NET D(4)		LOC = P34;
NET D(5)		LOC = P35;
NET D(6)		LOC = P36;
NET D(7)		LOC = P37;
NET SPICS	LOC = P38;
NET RES	   LOC = P39;
NET AL(0)	LOC = P40;
NET AL(1)	LOC = P42;
NET MOSI		LOC = P43;
NET SCLK		LOC = P44;