NET A(15)	LOC = P01;
NET RD		LOC = P02;
NET CLK3M6	LOC = P03;
NET WR		LOC = P04;
NET PHI2		LOC = P05;
NET CLK14M	LOC = P06;

NET CS		LOC = P08;

NET RW		LOC = P29;
NET A(4)		LOC = P33;
NET A(5)		LOC = P34;
NET A(6)		LOC = P35;
NET A(7)		LOC = P36;
NET A(8)		LOC = P37;
NET A(9)		LOC = P38;
NET A(10)   LOC = P39;
NET A(11)	LOC = P40;
NET A(12)	LOC = P42;
NET A(13)	LOC = P43;
NET A(14)	LOC = P44;